body {
	background: url("../img/hr.png");
}

span {
	font-size: 15px;
}

a {
	text-decoration: none;
	color: #0062cc;
	border-bottom: 2px solid #0062cc;
}

.box {
	padding: 60px 0px;
}

.box-part {
	background: #FFF;
	border-radius: 25px;
	padding: 10px 10px;
	margin: 10px 60px;
}

.text {
	margin: 20px 0px;
}

.fa {
	color: #4183D7;
}

/* .cards { */
/* 	width: 50%; */
/* } */