<!DOCTYPE html>
<html class="htmlLogin" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel='stylesheet' th:href="@{../css/fullcalendar.css}" />
<script th:src="@{../js/jquery.min.js}"></script>
<script th:src="@{../js/moment.min.js}"></script>
<script th:src="@{../js/fullcalendar/fullcalendar.min.js}"></script>
<script type="text/javascript" th:src="@{../js/fullcalendar/booking.js}"></script>
</head>
<body>
	<h3>
		Ecco la tua area di prenotazione : <b th:text="${username}"></b>
		<div id='calendar'></div>
	</h3>
</body>
</html>