<!DOCTYPE html>
<html class="htmlLogin" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel='stylesheet'
	th:href="@{../css/fullcalendar/fullcalendar.min.css}" />
<link rel='stylesheet'
	th:href="@{../css/fullcalendar/customCalendar.css}" />
<link rel='stylesheet'
	th:href="@{../css/fullcalendar/bootstrap.min.css}" />
<script th:src="@{../js/jquery.min.js}"></script>
<script th:src="@{../js/moment.min.js}"></script>
<script th:src="@{../js/fullcalendar/fullcalendar.min.js}"></script>
<script type="text/javascript" th:src="@{../js/fullcalendar/booking.js}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<link
	href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"
	rel="stylesheet">
</head>
<body>
	<h4>
		Benvenuto nella tua area di prenotazione: <b th:text="${username}"></b>
		<div id='calendar'></div>
	</h4>
</body>
</html>
