<!DOCTYPE html>
<html class="htmlLogin" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
	rel="stylesheet">
<link href="css/custom.css" rel="stylesheet">
<script type="text/javascript" src="js/registrazione.js"></script>
</head>
<body>
	<div class="jumbotron text-center">
		<h1>Registrazione</h1>
		<p th:text={user.username}></p>
	</div>
	<div class="container-fluid userInfo">
		<div class="col-sm-3"></div>
		<div class="col-sm-6">
			<div class="col-sm-3"></div>
		</div>
	</div>
</body>
</html>