<!DOCTYPE html>
<html class="htmlLogin" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
<link href="css/homepage.css" rel="stylesheet">
</head>
<body>
	<div class="box">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 cards">
					<div class="box-part text-center">
						<i class="fa fa-calendar-alt fa-3x" aria-hidden="true"></i>
						<div class="title">
							<h4>Prenota subito</h4>
						</div>
						<div class="text">
							<span>Clicca qui per prenotare subito dal tuo barbiere</span>
						</div>
						<a href="#">Clicca qui</a>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 cards">
					<div class="box-part text-center">
						<i class="fa fa-cog fa-3x" aria-hidden="true"></i>
						<div class="title">
							<h4>Modifica profilo</h4>
						</div>
						<div class="text">
							<span>Clicca qui per modificare il tuo profilo</span>
						</div>
						<a href="#">Clicca qui</a>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 cards">
					<div class="box-part text-center">
						<i class="fa fa-map-pin fa-3x" aria-hidden="true"></i>
						<div class="title">
							<h4>Dove siamo</h4>
						</div>
						<div class="text">
							<span>Clicca in basso per sapere dove siamo.</span>
						</div>
						<a href="#">Clicca qui</a>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 cards">
					<div class="box-part text-center">
						<i class="fa fa-question-circle fa-3x" aria-hidden="true"></i>
						<div class="title">
							<h4>Chi siamo</h4>
						</div>
						<div class="text">
							<span>Clicca qui per sapere chi siamo.</span>
						</div>
						<a href="#">Learn More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>